* {
    box-sizing: border-box;
}

.flexbox {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    border: 5px solid black;
}

.flexbox > div {
    background-color: aqua;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
    border-radius: 10px;    
  }


body {
    align-items: center;
    margin: 400px;
    justify-content: center;

}

