* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(91, 9, 167, 0.253);
}

.card {
  width: 350px;
  height: 450px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  /* gap: 30px; */
  align-items: center;
  flex-direction: column;
  border: 1px solid black;
  background-color: rgb(56, 56, 56);

  .profile_img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 25%;
    position: relative;

    .img_box {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      height: 150px;
      width: 150px;
      border-radius: 50%;
      border: 5px solid rgba(128, 0, 128, 0.795);
      background-color: white;
      top: -80px;
      overflow: hidden;
      transition: 0.3s;

      i {
        font-size: 150px;
        padding-top: 20px;
      }
    }
  }

  .img_box:hover {
    transform: scale(1.1);
  }

  .center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 8px;
    width: 100%;
    height: 25%;

    #name {
      color: purple;
      font-size: 28px;
      font-weight: 500;
    }

    #mail {
      color: rgba(128, 128, 128, 0.582);
    }

    #speciality {
      color: white;
      font-size: 16px;
    }
  }

  .icons {
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 20px;
    align-items: center;

    .github {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 28px;
      background-color: purple;
      transition: 0.3s;

      i {
        color: white;
      }
    }

    .twitter {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 28px;
      background-color: purple;
      transition: 0.3s;

      i {
        color: white;
      }
    }

    .youtube {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 28px;
      background-color: purple;
      transition: 0.3s;

      i {
        color: white;
      }
    }

    .linkedin {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 28px;
      background-color: purple;
      transition: 0.3s;

      i {
        color: white;
      }
    }
  }

  .linkedin:hover {
    transform: scale(1.3);
  }

  .youtube:hover {
    transform: scale(1.3);
  }

  .twitter:hover {
    transform: scale(1.3);
  }

  .github:hover {
    transform: scale(1.3);
  }

  .footer {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: purple;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;

    .text {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      font-size: 20px;
    }
  }
}
