*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}
.container {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 350px;
    padding: 20px;
    justify-content: space-between;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: white;

}

.img img {
    width: 120px; 
    height: 120px; 
    border-radius: 50%;
    border: 3px solid purple; 
    object-fit: cover; 
    display: block;
    margin: 0 auto; 
}

.header h4 {
    margin-top: 10px;
    font-size: 18px;
}

.content p {
    font-size: 14px;
    color: #555;
    padding-bottom: 10px;
}


button {
    border: 1px solid purple;
    border-radius: 5px;
    width: 100px;
    height: 30px;
    
}

.read_more {
    color: purple;
}


.subscribe {
    background-color: purple;
    color: white;
}


.main {
    display: flex;
    justify-content: space-around;
    padding: 350px; 
    margin: 20px;
    height: 100vh;
    /* background-size: cover;
    background-color: purple; */
}  





