@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,regular,500,600,700,800,300italic,italic,500italic,600italic,700italic,800italic);

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  font-family: "Open Sans", sans-serif;

  .header_con {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    position: fixed;
    z-index: 1;
    .header {
      width: 70%;
      height: 80px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .logo {
        width: 10%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
          width: 75px;
          height: 42px;
          cursor: pointer;
        }
      }

      .search {
        width: 60%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        input {
          width: 100%;
          height: 60%;
          border-radius: 24px;
          padding: 14px 14px 14px 52px;
          color: #5d3ebc;
          background-color: #fff;
          border: 1px solid #5d3ebc;
          font-size: 15px;
        }

        i {
          position: absolute;
          left: 20px;
          font-size: 20px;
          color: #5d3ebc;
        }
      }

      .location {
        width: 15%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        padding: 6px 10px;
        cursor: pointer;
        .location_ico {
          width: 20%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          i {
            color: #5d3ebc;
            font-size: 26px;
          }
        }

        .textbox {
          width: 80%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: flex-start;
          flex-direction: column;
          span {
            font-size: 10px;
            color: #4f4f4f;
          }

          a {
            color: #5d3ebc;
            font-size: 13px;
          }
        }
      }

      .right {
        width: 15%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        position: relative;

        .unicode {
          position: absolute;
          left: -25px;
        }

        .cart_ico {
          width: 20%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;
          i {
            font-size: 20px;
            color: #5d3ebc;
          }
        }

        .profile {
          width: 80%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: row;
          padding: 2px 0px 2px 18px;
          .profile_ico {
            width: 30%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            i {
              font-size: 20px;
              color: #5d3ebc;
            }
          }

          .textbox_2 {
            width: 70%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            .hesab {
              width: 100%;
              height: 20%;
              display: flex;
              justify-content: flex-start;
              align-items: center;
              span {
                font-size: 10px;
                color: #4f4f4f;
              }
            }

            .sign_in {
              width: 100%;
              height: 20%;
              display: flex;
              justify-content: left;
              align-items: center;
              flex-direction: row;
              gap: 2px;
              a {
                font-size: 13px;
                color: #5d3ebc;
              }
            }
          }
        }
      }
      .menu {
        display: none;
      }
    }
  }

  .under_header_con {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f6f7f9;
    box-shadow: 0 2px 1px -1px rgba(31, 31, 31, 0.06),
      0 1px 1px 0 rgba(31, 31, 31, 0.08), 0 1px 3px 0 rgba(31, 31, 31, 0.06);

    .under_header {
      width: 70%;
      height: 46px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex: row;

      .electronics,
      .ev,
      .mother,
      .cosmetics,
      .watch,
      .sport,
      .books,
      .automobile {
        width: 11%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        .img {
          width: 30%;
          display: flex;
          // justify-content: center;
          align-items: center;
          img {
            width: 30px;
            height: 30px;
          }
        }

        .description {
          width: 70%;
          display: flex;
          justify-content: left;
          align-items: center;
          span {
            font-size: 12px;
            color: #202020;
          }
        }
      }

      #books,
      #cosmetics {
        padding-right: 5px;
      }

      .moda {
        width: 8%;
        height: 100%;
        display: flex;
        // justify-content: center;
        align-items: center;
        .img {
          width: 30%;
          display: flex;
          justify-content: center;
          align-items: center;
          img {
            width: 30px;
            height: 30px;
          }
        }

        .description {
          width: 40%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          span {
            font-size: 12px;
            color: #202020;
          }
        }
      }

      .moda,
      .electronics,
      .ev,
      .mother,
      .cosmetics,
      .watch,
      .sport,
      .books,
      .automobile {
        transition: 0.1s;
        cursor: pointer;

        &:hover {
          border-bottom: 2px solid #5d3ebc;
          transition: 0.1s;
        }
      }
    }
  }

  .section_1 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 150px 0px 0px 0px;
    flex-direction: column;
    .box {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0px 0px 16px 0px;
      .img {
        width: 67%;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        overflow: hidden;
        img {
          width: 100%;
        }
      }
    }

    .shortcut_box {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      .shortcuts {
        width: 67%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #edeff3;
        border-radius: 10px;

        .card {
          width: 20%;
          display: flex;
          justify-content: center;
          align-items: center;
          margin: 15px;
          cursor: pointer;

          .ico {
            width: 30%;
            display: flex;
            justify-content: left;
            align-items: center;
            img {
              width: 60px;
              height: 60px;
            }
          }

          .description {
            width: 60%;
            display: flex;
            justify-content: center;
            align-items: center;
            span {
              font-size: 18px;
              font-weight: 600;
              color: #1f1f1f;
            }
          }
        }
      }
    }

    .product_box {
      width: 67%;
      margin-top: 26px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      .title {
        width: 100%;
        display: flex;
        justify-content: left;
        align-items: center;
        span {
          font-size: 24px;
          font-weight: 600;
          line-height: 1.25;
          letter-spacing: -0.2px;
          color: #1f1f1f;
          margin-bottom: 10px;
        }
      }
      .cards {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        gap: 10px;
        cursor: pointer;
        .card {
          width: 20%;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          .product_img {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 5px;
            border-top-left-radius: 6px;
            border-top-right-radius: 6px;
            overflow: hidden;
            border: 1px solid #dedede;
            img {
              width: 100%;
              height: auto;
            }
          }
          .description {
            width: 90%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            .name {
              width: 100%;
              margin: 8px;
              h3 {
                font-size: 16px;
                letter-spacing: -0.05px;
                color: #1f1f1f;
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                line-clamp: 2;
                -webkit-box-orient: vertical;
                font-weight: 400;
              }
            }

            .rating {
              display: flex;
              flex-direction: row;
              align-items: center;
              justify-content: left;
              width: 100%;
              .stars {
                width: 35%;
                text-align: left;
                font-size: 12px;
                color: #ffc20a;
                display: flex;
                align-items: center;
              }
              .reviews {
                width: 20%;
                display: flex;
                align-items: center;
                span {
                  font-size: 11px;
                  color: #707070;
                  letter-spacing: -0.14px;
                }
              }
            }

            .price {
              width: 100%;
              text-align: left;
              margin-top: 70px;
              display: flex;
              flex-direction: column;
              ins {
                text-decoration: none;
                font-size: 20px;
                line-height: 18px;
                letter-spacing: -0.2px;
                font-weight: 700;
              }
              span {
                color: #4f379b;
                font-size: 13px;
                font-weight: 700;
                letter-spacing: 0.13px;
                margin-bottom: 5px;
              }
            }
          }
        }
      }
    }

    .product_box_2 {
      width: 67%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      padding: 26px 0px 36px 0px;
      margin-top: 24px;
      .title {
        width: 100%;
        display: flex;
        justify-content: left;
        align-items: center;
        background-color: #5d3ebc;
        border-radius: 8px;
        padding: 24px 24px;
        margin-bottom: 16px;
        a {
          color: #fff;
          font-size: 24px;
          font-weight: 700;
          letter-spacing: -0.2px;
          text-decoration: none;
        }
      }
      .cards {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        gap: 10px;
        .card {
          width: 16%;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          position: relative;
          cursor: pointer;
          .product_img {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 5px;
            // border-top-left-radius: 6px;
            // border-top-right-radius: 6px;
            overflow: hidden;
            // border: 1px solid #dedede;

            img {
              width: 182px;
              height: 180px;
            }
          }
          .description {
            width: 90%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            .name {
              width: 100%;
              margin: 8px;
              h3 {
                font-size: 13px;
                letter-spacing: -0.05px;
                color: #1f1f1f;
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                line-clamp: 2;
                -webkit-box-orient: vertical;
                font-weight: 400;
              }
            }

            .rating {
              display: flex;
              flex-direction: row;
              align-items: center;
              justify-content: left;
              width: 100%;
              .stars {
                width: 40%;
                text-align: left;
                font-size: 11px;
                color: #ffc20a;
                display: flex;
                align-items: center;
              }
              .reviews {
                width: 20%;
                display: flex;
                align-items: center;
                span {
                  font-size: 11px;
                  color: #707070;
                  letter-spacing: -0.14px;
                }
              }
            }
            .price {
              width: 100%;
              text-align: left;
              margin-top: 50px;
              display: flex;
              flex-direction: column;
              ins {
                text-decoration: none;
                font-size: 18px;
                line-height: 18px;
                letter-spacing: -0.2px;
                font-weight: 700;
              }
              span {
                color: #4f379b;
                font-size: 13px;
                font-weight: 700;
                letter-spacing: 0.13px;
                margin-bottom: 2px;
              }
            }
          }
        }
      }
    }

    .promo_con {
      width: 100%;
      margin-top: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      .promo_area {
        width: 67%;
        display: flex;
        justify-content: right;
        align-items: center;
        background-image: url(https://n11scdn.akamaized.net/a1/1180_474/25/03/19/70/56/23/72/53/25/14/26/00/28136827858817627813.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 8px;
        .right {
          width: 50%;
          margin-top: 20px;
          margin-bottom: 10px;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          .cards {
            width: 100%;
            display: flex;
            justify-content: space-around;
            align-items: center;
            flex-direction: row;
            .card {
              width: 31%;
              display: flex;
              justify-content: center;
              align-items: center;
              flex-direction: column;
              background-color: #fff;
              border-radius: 6px;
              overflow: hidden;
              .product_img {
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-bottom: 5px;
                img {
                  width: 100%;
                  height: auto;
                }
              }
              .description {
                width: 90%;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                .name {
                  width: 100%;
                  margin: 8px;
                  h3 {
                    font-size: 13px;
                    letter-spacing: -0.05px;
                    color: #1f1f1f;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    line-clamp: 2;
                    -webkit-box-orient: vertical;
                    font-weight: 400;
                  }
                }

                .rating {
                  display: flex;
                  flex-direction: row;
                  align-items: center;
                  justify-content: left;
                  width: 100%;
                  .stars {
                    width: 43%;
                    text-align: left;
                    font-size: 12px;
                    color: #ffc20a;
                    display: flex;
                    align-items: center;
                  }
                  .reviews {
                    width: 20%;
                    display: flex;
                    align-items: center;
                    span {
                      font-size: 11px;
                      color: #707070;
                      letter-spacing: -0.14px;
                    }
                  }
                }

                .price {
                  width: 100%;
                  text-align: left;
                  margin-top: 30px;
                  margin-bottom: 10px;
                  display: flex;
                  flex-direction: column;
                  ins {
                    text-decoration: none;
                    font-size: 18px;
                    line-height: 18px;
                    letter-spacing: -0.2px;
                    font-weight: 700;
                  }
                  span {
                    color: #4f379b;
                    font-size: 13px;
                    font-weight: 700;
                    letter-spacing: 0.13px;
                    margin-bottom: 5px;
                  }
                }
              }
            }
          }
          .brand_list {
            width: 100%;
            display: flex;
            justify-content: space-around;
            align-items: center;
            flex-direction: row;
            margin-top: 20px;
            .samsung,
            .mi,
            .apple,
            .lenovo,
            .tcl {
              width: 16%;
              display: flex;
              justify-content: center;
              align-items: center;
              border-radius: 50%;
              overflow: hidden;
              img {
                width: 100%;
              }
            }
          }
        }
      }
    }

    .promo_con_2 {
      width: 100%;
      margin-top: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      .promo_area {
        width: 67%;
        display: flex;
        justify-content: right;
        align-items: center;
        background-image: url(https://n11scdn.akamaized.net/a1/1180_474/25/03/14/91/91/98/57/44/97/05/91/91/43044248627074545916.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 8px;
        .right {
          width: 50%;
          margin-top: 20px;
          margin-bottom: 10px;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          .cards {
            width: 100%;
            display: flex;
            justify-content: space-around;
            align-items: center;
            flex-direction: row;
            .card {
              width: 31%;
              display: flex;
              justify-content: center;
              align-items: center;
              flex-direction: column;
              background-color: #fff;
              border-radius: 6px;
              overflow: hidden;
              .product_img {
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-bottom: 5px;
                img {
                  width: 100%;
                  height: auto;
                }
              }
              .description {
                width: 90%;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                .name {
                  width: 100%;
                  margin: 8px;
                  h3 {
                    font-size: 13px;
                    letter-spacing: -0.05px;
                    color: #1f1f1f;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    line-clamp: 2;
                    -webkit-box-orient: vertical;
                    font-weight: 400;
                  }
                }

                .rating {
                  display: flex;
                  flex-direction: row;
                  align-items: center;
                  justify-content: left;
                  width: 100%;
                  .stars {
                    width: 43%;
                    text-align: left;
                    font-size: 12px;
                    color: #ffc20a;
                    display: flex;
                    align-items: center;
                  }
                  .reviews {
                    width: 20%;
                    display: flex;
                    align-items: center;
                    span {
                      font-size: 11px;
                      color: #707070;
                      letter-spacing: -0.14px;
                    }
                  }
                }

                .price {
                  width: 100%;
                  text-align: left;
                  margin-top: 30px;
                  margin-bottom: 10px;
                  display: flex;
                  flex-direction: column;
                  ins {
                    text-decoration: none;
                    font-size: 18px;
                    line-height: 18px;
                    letter-spacing: -0.2px;
                    font-weight: 700;
                  }
                  span {
                    color: #4f379b;
                    font-size: 13px;
                    font-weight: 700;
                    letter-spacing: 0.13px;
                    margin-bottom: 5px;
                  }
                }
              }
            }
          }
          .brand_list {
            width: 100%;
            display: flex;
            justify-content: left;
            gap: 20px;
            align-items: center;
            flex-direction: row;
            margin-top: 20px;
            .adidas,
            .puma,
            .converse,
            .vans {
              width: 16%;
              display: flex;
              justify-content: center;
              align-items: center;
              border-radius: 50%;
              overflow: hidden;
              img {
                width: 100%;
              }
            }
          }
        }
      }
    }

    .brands_area {
      width: 100%;
      background-color: #edeff3;
      margin-top: 15px;
      padding: 24px 0px;
      display: flex;
      justify-content: center;
      align-items: center;
      .brands_container {
        width: 67%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        .title {
          width: 100%;
          display: flex;
          justify-content: left;
          align-items: center;
          h3 {
            font-size: 24px;
            font-weight: 700;
            letter-spacing: -0.34px;
            color: #1f1f1f;
          }
        }
        .icons {
          width: 100%;
          display: flex;
          justify-content: space-between;
          align-items: center;

          .defacto,
          .mavi,
          .polo,
          .madame,
          .flo,
          .loreal,
          .karaca {
            width: 13%;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            margin-top: 10px;
            overflow: hidden;
            img {
              width: 100%;
              height: auto;
            }
          }
        }
      }
    }

    .footer {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 50px;
      flex-direction: column;
      .features {
        width: 67%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        border-bottom: 1px solid #dedede;
        border-top: 1px solid #dedede;
        padding: 25px;
        .feature {
          width: 25%;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: row;
          gap: 10px;
          .ico {
            width: 20%;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            border: 3px solid #5d3ebc;
            i {
              font-size: 24px;
              color: #5d3ebc;

              padding: 16px;
            }
          }

          .text {
            width: 50%;
            display: flex;
            justify-content: left;
            align-items: center;
            span {
              font-size: 16px;
              font-weight: 600;
              line-height: 1.5;
              letter-spacing: -0.5px;
              color: #1f1f1f;
            }
          }
        }
      }

      .site_nav {
        width: 67%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        padding-top: 50px;
        padding-bottom: 50px;
        border-bottom: 1px solid #dedede;
        .left {
          width: 80%;
          display: flex;
          justify-content: space-between;
          // align-items: center;
          flex-direction: row;
          .column {
            width: 25%;
            display: flex;
            align-items: center;
            flex-direction: column;
            .title {
              width: 100%;
              text-align: left;
              h4 {
                font-size: 14px;
                font-weight: 700;
                line-height: 1.29;
                letter-spacing: -0.5px;
                color: #1f1f1f;
                margin-bottom: 15px;
              }
            }

            .text_box {
              width: 100%;
              display: flex;
              flex-direction: column;
              text-align: left;
              gap: 7px;
              span {
                font-size: 13px;
                cursor: pointer;
              }
            }
          }
        }

        .right {
          width: 20%;
          display: flex;
          justify-content: center;
          align-items: center;
          .card {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            padding: 15px;
            border: 5px solid #ededed;
            border-radius: 10px;
            .title {
              width: 100%;
              text-align: left;
              h4 {
                font-size: 20px;
                font-weight: 700;
                line-height: 1.29;
                letter-spacing: -0.5px;
                color: #1f1f1f;
                margin-bottom: 15px;
              }
            }
            .btn {
              width: 100%;
              display: flex;
              justify-content: center;
              align-items: center;
              border-radius: 6px;
              border: 1px solid #5d3ebc;
              transition: 0.5s;
              cursor: pointer;
              span {
                font-size: 14px;
                font-weight: 700;
                letter-spacing: -0.1px;
                padding: 11px 0px;
                color: #5d3ebc;
              }

              &:hover {
                span {
                  color: #fff;
                }
                background-color: #5d3ebc;
                transition: 0.5s;
              }
            }

            .btn_2 {
              width: 100%;
              display: flex;
              justify-content: center;
              align-items: center;
              border-radius: 6px;
              border: 1px solid #5d3ebc;
              background-color: #5d3ebc;
              margin-top: 12px;
              margin-bottom: 20px;
              cursor: pointer;
              transition: 0.5s;
              span {
                font-size: 14px;
                font-weight: 700;
                letter-spacing: -0.1px;
                padding: 11px 0px;
                color: white;
              }

              &:hover {
                background-color: #fff;
                transition: 0.5s;
                span {
                  color: #5d3ebc;
                }
              }
            }

            .text_box {
              width: 100%;
              display: flex;
              flex-direction: column;
              text-align: left;
              gap: 7px;
              margin-top: 10px;
              margin-bottom: 10px;
              span {
                font-size: 13px;
                color: #1f1f1f;
                cursor: pointer;
              }
            }
          }
        }
      }

      .socials {
        width: 67%;
        padding-top: 30px;
        display: flex;
        justify-content: left;
        align-items: end;
        .mob_bar {
          width: 30%;
          h4 {
            font-size: 16px;
            margin-bottom: 18px;
            line-height: 1.25;
            letter-spacing: -0.05px;
          }

          .applications {
            width: 70%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: row;
            gap: 10px;
            .appstore {
              width: 40%;
              display: flex;
              justify-content: center;
              align-items: center;
              img {
                width: 100%;
                height: auto;
              }
            }

            .googleplay {
              width: 40%;
              display: flex;
              justify-content: center;
              align-items: center;
              img {
                width: 100%;
                height: auto;
              }
            }
          }
        }

        .social_links {
          width: 30%;
          display: flex;
          flex-direction: column;
          h4 {
            margin-bottom: 18px;
            font-size: 16px;
            line-height: 1.25;
            letter-spacing: -0.05px;
          }

          .iconbox {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: left;
            align-items: center;
            gap: 10px;

            .ico {
              width: 40px;
              height: 40px;
              display: flex;
              justify-content: center;
              align-items: center;
              i {
                font-size: 30px;
                color: #7e7e7e;
              }
            }
          }
        }

        .blog {
          width: 20%;
          display: flex;
          flex-direction: column;
          h4 {
            margin-bottom: 12px;
            font-size: 16px;
            line-height: 1.25;
            letter-spacing: -0.05px;
          }

          .logo {
            width: 70%;
            display: flex;
            justify-content: left;
            align-items: center;
            img {
              width: 40%;
            }
          }
        }

        .etbis {
          width: 20%;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: row;
          .etbis_logo {
            width: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            img {
              width: 100%;
            }
          }

          .tr_go {
            width: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            img {
              width: 100%;
            }
          }
        }
      }

      .footer_bottom {
        width: 67%;
        border-top: 1px solid #ededed;
        margin-top: 25px;
        padding: 10px 0;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        .legal {
          width: 50%;
          display: flex;
          flex-direction: column;
          span {
            font-size: 12px;
            color: #505050;
            font-weight: 400;
          }

          .rules {
            width: 100%;
            display: flex;
            flex-direction: row;
            a {
              font-size: 12px;
              color: #505050;
              padding-right: 10px;
              margin-right: 10px;
              border-right: 1px solid #ebebeb;
              text-decoration: none;

              &:hover {
                text-decoration: underline;
              }
            }
          }
        }

        .bank_logos {
          width: 40%;
          display: flex;
          justify-content: right;
          align-items: center;
          flex-direction: row;
          .img {
            width: 20%;
            display: flex;
            justify-content: right;
            align-items: center;
            img {
              width: 40%;
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .container .header_con .header {
    width: 100%;
    height: 60px;
    .logo {
      display: none;
    }
    .search {
      width: 60%;
      i {
        font-size: 16px;
        left: 15px;
      }
      input {
        font-size: 12px;
        padding: 14px 14px 14px 38px;
      }
    }
    .menu {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 15%;
    }

    .location {
      display: none;
    }
    .right {
      display: flex;
      justify-content: center;
      align-items: center;
      .unicode {
        display: none;
      }
      .profile {
        display: none;
      }
      .textbox_2 {
        display: none;
      }
      .cart_ico {
        width: 20%;
      }
    }
  }

  .container .header_con .under_header_con {
    display: none;
  }

  .container .section_1 {
    padding: 70px 0px 0px 0px;
    .box .img {
      width: 100%;
      border-radius: 5px;
    }
    .shortcut_box .shortcuts {
      width: 90%;
      // display: flex;
      // justify-content: center;
      // align-items: center;
      // flex-direction: column;
      position: unset;
      overflow-x: auto;
      white-space: nowrap;
      width: 100%;
      ::-webkit-scrollbar {
        display: none;
      }
      
      .card {
        flex-direction: column;
        width: 90%;
        .ico {
          justify-content: center;
        }

        .description {
          width: 80%;
          margin-top: 7px;
        }
      }
    }
    .shortcut_box {
      .unicode {
        // writing-mode: vertical-rl;
        display: none;
      }
    }
  }

  .container .section_1 .product_box {
    width: 100%;
    .title {
      margin-bottom: 10px;
      padding-left: 10px;
      span {
        font-size: 18px;
      }
    }
    .cards {
      position: unset;
      overflow-x: auto;
      white-space: nowrap;
      width: 100%;
      ::-webkit-scrollbar {
        display: none;
      }
      //   flex-direction: row;
      //   flex-wrap: wrap;
      //   justify-content: space-between;
      //   gap: 10px;
      .card {
        width: 30%;
        .product_img {
          margin-bottom: 0;
        }
        .description .price {
          margin-top: 20px;
        }
        .description {
          width: 100%;
          .name {
            h3 {
              font-size: 12px;
            }
          }
          .rating .stars {
            width: 65%;
            font-size: 10px;
          }
          .price {
            margin-top: 10px;
            ins {
              font-size: 16px;
            }
            span {
              font-size: 11px;
            }
          }
        }
      }
    }
  }

  .container .section_1 .product_box_2 {
    width: 90%;
    .title {
      padding: 14px 14px;
      margin-bottom: 12px;
      a {
        font-size: 18px;
      }
    }

    .cards {
      width: 90%;
      justify-content: space-between;
      flex-wrap: wrap;
      .card {
        width: 40%;
        .product_img {
          img {
            width: 100%;
            height: auto;
          }
        }

        .description {
          width: 100%;
          .name {
            h3 {
              font-size: 12px;
            }
          }
          .rating .stars {
            width: 60%;
            font-size: 10px;
          }
          .price {
            margin-top: 10px;
            ins {
              font-size: 16px;
            }
            span {
              font-size: 11px;
            }
          }
        }
      }
    }
  }

  .container .section_1 {
    .promo_con,
    .promo_con_2 {
      margin: 10px;

    }
    

      .promo_con .promo_area {
        width: 100%;
        justify-content: center;
        background-image: url(https://n11scdn.akamaized.net/a1/750_700/25/03/19/77/88/30/02/83/55/59/57/33/43038230275546593433.jpg);
        background-size: contain;
        border-radius: 0;
        .right {
          width: 100%;
          .cards {
            margin-top: 240px;
            background: #d4be9c;
            width: 100%;
            padding: 5px;
            justify-content: space-between;
            gap: 10px;
            .card {
              width: 40%;
              .description .rating .stars {
                width: 60%;
                font-size: 8px;
              }
            }
          }

          .brand_list {
            background: #d4be9c;
            margin-top: 0;
            padding: 10px;
          }

          #second_brand_list {
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }
      }

      .promo_con_2 .promo_area {
        width: 100%;
        justify-content: center;
        background-image: url(https://n11scdn.akamaized.net/a1/750_700/25/03/14/68/29/52/55/58/80/95/40/49/6829028277212788688.jpg);
        background-size: contain;
        border-radius: 0;
        .right {
          width: 100%;
          .cards {
            margin-top: 240px;
            background: #597482;
            width: 100%;
            padding: 5px;
            justify-content: space-between;
            gap: 10px;
            .card {
              width: 40%;
              .description .rating .stars {
                width: 60%;
                font-size: 8px;
              }
            }
          }

          .brand_list {
            background: #597482;
            margin-top: 0;
            padding: 10px;
          }

          #second_brand_list {
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }
      }

    
  }

  .container .section_1 .brands_area {
    .brands_container {
      .title {
        justify-content: center;
      }

      .icons {
        flex-direction: row;
        flex-wrap: wrap;
        margin-top: 20px;
        justify-content: space-around;
        .defacto,
        .mavi,
        .polo,
        .madame,
        .flo,
        .loreal,
        .karaca {
          width: 40%;
        }
      }
    }
  }

  .container .section_1 .brands_area {
    margin-top: 0;
  }

  .container .section_1 .footer {
    .features {
      flex-direction: column;
      flex-wrap: wrap;
      width: 80%;
      padding: 10px;
      gap: 20px;
      .feature {
        width: 90%;
        .ico {
          width: 30%;
        }

        .text {
          width: 60%;
        }
      }
    }
  }

  .container .section_1 .footer .site_nav {
    width: 90%;
    flex-wrap: wrap;
    flex-direction: column;
    .left {
      width: 100%;
      flex-wrap: wrap;
      .column {
        width: 45%;
        gap: 10px;
        margin-bottom: 20px;
      }
    }

    .right {
      width: 100%;
    }
  }

  .container .section_1 .footer .socials {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    gap: 10px;
    .mob_bar {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      h4 {
        font-size: 14px;
      }

      .applications {
        width: 100%;
        .appstore {
          width: 50%;
        }

        .googleplay {
          width: 50%;
        }
      }
    }

    .social_links {
      width: 100%;
      .iconbox {
        justify-content: space-around;
      }
    }

    .blog {
      width: 100%;
      justify-content: center;
      align-items: center;
      padding-top: 20px;
      border-top: 1px solid #dedede;
      .logo {
        justify-content: center;
      }
    }

    .etbis {
      width: 100%;
      padding-top: 20px;
      border-top: 1px solid #dedede;
    }
  }

  .container .section_1 .footer .footer_bottom {
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 90%;
    .legal .rules {
      display: flex;
      flex-direction: column;
      gap: 2px;
      a {
        border: none;
      }
    }

    .legal {
      width: 100%;
      gap: 5px;
    }

    .bank_logos {
      width: 100%;
      padding-top: 10px;
      justify-content: space-around;
      .img {
        justify-content: center;
      }
    }
  }
}
